<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1
      style="
        justify-content: center;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
      "
    >
      Data Role
    </h1>
    <div class="container">
      <a
        class="btn btn-primary"
        style="margin-bottom: 10px; margin-top: 10px; color: azure"
        th:href="@{/role/form}"
        >create new</a
      >
      <table class="table table-striped table-bordered">
        <tr>
          <th>Id</th>
          <th style="justify-content: center; text-align: center">Role Name</th>
          <th style="justify-content: center; text-align: center">Level</th>
          <th colspan="2" style="justify-content: center; text-align: center">
            Action
          </th>
        </tr>
        <tbody>
          <tr th:each="role : ${role}">
            <td th:text="${role.id}"></td>
            <td th:text="${role.name}"></td>
            <td th:text="${role.level}"></td>
            <td>
              <a
                class="btn btn-info"
                th:href="@{/role/form/{id} (id=${role.id})}"
                >edit</a
              >
            </td>
            <td>
              <form
                th:action="@{/role/delete/{id} (id=${role.id})}"
                th:method="post"
              >
                <button
                  type="submit"
                  class="btn btn-danger"
                  style="margin-bottom: 10px; margin-top: 10px; color: azure"
                  onclick="return confirm('Are you sure to delete this data?');"
                >
                  Delete
                </button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
